<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand">{{title}}</a>
  <ul class="nav nav-pills">
    <li class="nav-item"><a class="nav-link" routerLink="/home">Home</a><li>
    <li class="nav-item"><a class="nav-link" [routerLink]="['/products', 0, 'edit']">Add Product</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/login">Login</a><li>
    <li><a class="nav-link" routerLink="/signup" style="float: right;">SignUp</a><li>
  </ul>
</nav>
<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="alert alert-success" role="alert" *ngIf="loginMessage != null && loginSucess">
      {{loginMessage}}
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="loginMessage != null && !loginSucess">
      {{loginMessage}}
    </div>
    <div class="form-group row">
      <label class="col-md-2 col-form-label" for="inlineFormInputName">Email address </label>
      <div class="col-md-8">
      <input type="email" #emailRef [(ngModel)]="user.emailId" class="form-control" id="inlineFormInputName" placeholder="Email">
    </div>
    </div>
    <div class="form-group row">
      <label class="col-md-2 col-form-label" for="inlineFormInputGroupUsername">Password</label>
      <div class="col-md-8">
        <input type="password" #passwordRef [(ngModel)]="user.password" class="form-control" id="inlineFormInputGroupUsername" placeholder="Password">
      </div>
    </div>
    <div class="row">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="autoSizingCheck2">
        <label class="form-check-label" for="autoSizingCheck2">
          Remember
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 offset-md-2">
      <button type="submit"  class="btn btn-primary mr-3" style="width: 80px" (click)="loginUser()">Login</button>
      <button type="submit"  style="margin-left: 5px; background-color: green; color: white"><a class="nav-link" style="color: #fff" routerLink="/signup">Register</a></button>
      </div>
    </div>
  </div>
</div>
