
<div style="border: 3px solid #dddddd; width: 100%;">
  <div class="card-body">
    <div class="alert alert-success" role="alert" *ngIf="loginMessage != null && loginSucess">
      {{loginMessage}}
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="loginMessage != null && !loginSucess">
      {{loginMessage}}
    </div>
    <div class="col-sm-3 my-1">
      <label class="sr-only" for="inlineFormInputName">Email address </label>
      <input type="email" #emailRef [(ngModel)]="user.emailID"   class="form-control" id="inlineFormInputName" placeholder="Email">
    </div>
    <div class="col-sm-3 my-1">
      <label class="sr-only" for="inlineFormInputGroupUsername">Password</label>
      <div class="input-group">
        <div class="input-group-text">@</div>
        <input type="password" #passwordRef [(ngModel)]="user.password" class="form-control" id="inlineFormInputGroupUsername" placeholder="Password">
      </div>
    </div>
    <div class="col-auto my-1">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="autoSizingCheck2">
        <label class="form-check-label" for="autoSizingCheck2">
          Remember
        </label>
      </div>
    </div>
    <div class="col-auto my-1">
      <button type="submit"  class="btn btn-primary" (click)="loginUser()">Login</button>
      <button type="submit"  style="margin-left: 5px; background-color: green; color: white"><a class="nav-link" style="color: #fff" routerLink="/home">Register</a></button>
    </div>

  </div>
</div>
