
<div class="card" style="box-shadow: white">
  <nav class="navbar navbar-expand navbar-light bg-light">
    <a class="navbar-brand"></a>
    <ul class="nav nav-pills">
      <li><a class="nav-link" routerLink="/home">Home</a><li>
      <li class="nav-item"><a class="nav-link" routerLink="/login">Login</a><li>
      <li><a class="nav-link" routerLink="/signup">SignUp</a><li>
      <li><a class="nav-link" [routerLink]="['/products', 0, 'edit']">Add Product</a></li>
    </ul>
  </nav>
  <div class="card-header" style="color: #337AB7"></div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4">
      </div>
    </div>
    <div class="row">
    </div>
          <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fwww.acmetoolstore.com%2Fwcsstore%2FAcmeTools%2Fimages%2FAcmeToolsLogo.svg&imgrefurl=https%3A%2F%2Fwww.acmetools.com%2F&docid=dKa0WGmUCmWiDM&tbnid=MJr2pyQ9wL8jvM%3A&vet=10ahUKEwim28zz4qfhAhVFiOAKHR1fC-YQMwg_KAEwAQ..i&w=800&h=280&safe=active&bih=686&biw=1440&q=acme%20tools%20products&ved=0ahUKEwim28zz4qfhAhVFiOAKHR1fC-YQMwg_KAEwAQ&iact=mrc&uact=8">
    </div>
  </div>
