<div class="main">
<div class="container">
  <div class="form-group" [class.has-error]="firstNameId.invalid && firstNameId.touched">
    <label class="control-label">First Name</label>
    <input #firstNameId="ngModel" pattern="....+" required type="text" class="form-control" required name="text"
           [ngModel]="welcome.firstName"
           (ngModelChange)="firstNameIdToLowerCase($event)">
    <div *ngIf="firstNameId.invalid && firstNameId.touched" class="alert alert-danger">
     first name is requried, and must be at least 10 characters.
    </div>
  <div class="form-group" [class.has-error]="lastNameId.invalid && lastNameId.touched">
    <label class="control-label">Last Name</label>
    <input #lastNameId="ngModel" pattern=".....+" required type="text" class="form-control" required name="text"
           [ngModel]="welcome.lastName"
           (ngModelChange)="lastNameIdToLowerCase($event)">
    <div *ngIf="lastNameId.invalid && lastNameId.touched" class="alert alert-danger">
      Last id is requried, and must be at least 10 characters.
    </div>
  </div>
  <div class="form-group" [class.has-error]="emailId.invalid && emailId.touched">
    <label class="control-label">Email Id</label>
    <input #emailId="ngModel" pattern="..........+" type="email" class="form-control" required name="email"
           [ngModel]="welcome.email"
           (ngModelChange)="emailIdLowerCase($event)">
    <div *ngIf="emailId.invalid && emailId.touched" class="alert alert-danger">
      Email is requried, and must be at least 5 characters.
    </div>
    <div class="form-group row mb-2">
      <div class="offset-md-2 col-md-4">
        <button class="btn btn-outline-primary mr-3" type="submit" style="width:80px">Save
        </button>
      </div>
    </div>
    Model: {{model | json }}
  </div>
</div>
</div>
</div>
